<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.client.service.mapper.clientuserMapper">
	<resultMap type="com.project.object.clientUser" id="clientuser">
		<result column="id" property="id"/>
		<result column="username" property="username"/>
		<result column="telphone" property="telphone"/>
		<result column="province" property="province"/>
		<result column="city" property="city"/>
		<result column="area" property="area"/>
		<result column="level" property="level"/>
		<result column="feeamount" property="feeamount"/>
		<result column="grades" property="grades"/>
		<result column="registtime" property="registtime"/>
		<result column="status" property="status"/>
	</resultMap>
	<select id="getUserByCondition" resultMap="clientuser">
		SELECT id,username,telphone,province,city,area,level,feeamount,grades,registtime,status
		FROM clientuser 
		<where>
			<if test="condition != ''">
				SUBSTRING(telphone,length(telphone)-3) Like CONCAT(CONCAT('%',#{condition}),'%')
				OR username LIKE CONCAT(CONCAT('%',#{condition}),'%')
			</if>
		</where>
		<if test="colname != ''">
			ORDER BY ${colname} DESC,id ASC
		</if>
		LIMIT #{startcolumn} , #{column}
	</select>
	<select id="getPageCount" resultType="int">
		SELECT count(id) FROM clientuser
		<where>
			<if test="condition != ''">
				SUBSTRING(telphone,length(telphone)-3) Like CONCAT(CONCAT('%',#{condition}),'%')
				OR username LIKE CONCAT(CONCAT('%',#{condition}),'%')
			</if>
		</where>
	</select>
</mapper>

